body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #407b40;
    display: flex;
    flex-direction: column;

    min-height: 100vh;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    display: inline-block;
    padding: 10px 10px;
    margin: 5px;
    background-color: #107b00;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #105600;
}

button:active {
    background-color: #103d00;
}

#bild {
    margin: 0px;
    padding: 10px;
}

#log {
    flex-grow: 1;
    margin: 10px;
    resize: none;
    background-color: #307d30;
    color: aqua;
}

#command {
    margin: 10px;
    width: 90%;
}

#things {
    display: block;
}

#inventory {
    display: block;
}

#actions {
    display: block;
}

#dir-list {
    display: block;
}