*, *::before, *::after {
    box-sizing: border-box;
  }
  
html, body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background: rgb(199,174,123);
    background: radial-gradient(circle, rgba(199,174,123,1) 8%, rgba(145,124,71,1) 35%, rgba(138,132,121,1) 100%); 
    display: flex;
    flex-direction: column;
    max-width: 40em;
    
    /* min-height: 100vh; */
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}


button {
    display: inline-block;
    padding: .6em;
    margin: .1em;
    background-color: #352911;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #634e23;
}

button:active {
    background-color: #846832;
}

#bild {
    margin: 0 auto;
    padding: 10px;
    flex-grow: 1;
    display: block;
    width: 80%;    
    height: auto;
    object-fit: cover;
    object-position: center;
    display: hidden;

}



header 
{
    flex-grow: 1;
    height: 30px;
    flex-direction: row;
}

main {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    
}

#log {
    flex-grow: 1;
    margin: 0px ;
    resize: none;
    border: 0px;
    padding: 5px;
    background-color: #acb099da;
    display: block;
    box-sizing: border-box;
    color: rgb(27, 46, 29);
    text-shadow: 3px, 3px, #666;
    min-width: 30em;
}
textarea:focus {
    border: 0px ;
    outline: none;
  
}

#command {
    margin: 0px;
    padding: 10px;
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
input[type=text]:focus {
    border: 0px ;
    outline: none;
  }

#things {
    display: block;
}

#inventory {
    display: block;
}

#actions {
    display: block;
}

#dir-list {
    display: block;
}